DB_URL=jdbc:sqlserver://localhost:1433;databaseName=webst9;encrypt=false;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=change-me
DB_DRIVER=com.microsoft.sqlserver.jdbc.SQLServerDriver
DDL_AUTO=update
SERVER_PORT=8081
